{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Select Character{% endblock %}</h1>
{% endblock %}

{% block content %}
<a href="{{ url_for('character.new') }}">New Character</a>
<hr>
<h2>;;Character Name: Downtime Unset</h2>
<p>Character Description</p>
<p>;;str:10 dex:14 con:13 int:12 wis:11 cha:11</p>
<a href="{{ url_for('character.update') }}">Edit Character</a>
<a href="{{ url_for('character.select_activities') }}">Select DowntimeActivities</a>

	{% for character in characters %}
		<div>
			<a href="{{ url_for('character.view', characterID = character['character_id']) }}">	
		    	<h1>{{ character['character_name'] }}</h1>
		    	<p>{{ character['character_description'][:100] }}</p>
		    	<p>{{ character['character_str'] }}</p>
		    	<p>{{ character['character_dex'] }}</p>
		    	<p>{{ character['character_con'] }}</p>
		    	<p>{{ character['character_int'] }}</p>
		    	<p>{{ character['character_wis'] }}</p>
		    	<p>{{ character['character_cha'] }}</p>
		    </a>
		</div>
	{% endfor %}
{% endblock %}