{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Character (Charactername){% endblock %}</h1>
{% endblock %}

{% block content %}
	<a href="{{ url_for('character.index') }}">Back</a>
	<form action="{{ url_for('character.update', characterID = character['character_ID']) }}" method="post">
		<input type="hidden" name="character_ID" value="{{ character['character_ID'] }}">
		
		<label for="character_name">Character Name</label>
		<input type="text" name="character_name" value="{{ character['character_name'] }}">
		
		<label for="character_description">Character Description</label>
		<textarea rows="4" cols="50" name="character_description">{{ character['character_description'] }}</textarea>
		<hr>
		<label for="char_str">Character Strength</label>
		<input type="text" name="char_str" value="{{ character['character_str'] }}">

		<label for="char_dex">Character Dexterity</label>
		<input type="text" name="char_dex" value="{{ character['character_dex'] }}">
		
		<label for="char_con">Character Constituition</label>
		<input type="text" name="char_con" value="{{ character['character_con'] }}">

		<label for="char_int">Character Intelligence</label>
		<input type="text" name="char_int" value="{{ character['character_int'] }}">

		<label for="char_wis">Character Wisdom</label>
		<input type="text" name="char_wis" value="{{ character['character_wis'] }}">

		<label for="char_cha">Character Charisma</label>
		<input type="text" name="char_cha" value="{{ character['character_cha'] }}">

		<input type="submit" value="Submit">
		<input type="reset" value="Reset">
	</form>
	
{% endblock %}