{% extends 'base.html' %}

{% block title %}View Character (Charactername){% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<table class="table">
				<thead>
					<tr>
		    			<th>Character Name</th>
		   				 <th>Character Description</th>
		   				 <th>Strength</th>
		   				 <th>Dexterity</th>
		   				 <th>Constitution</th>
		   				 <th>Intelligence</th>
		   				 <th>Wisdom</th>
		   				 <th>Charisma</th>
		  			</tr>
	  			</thead>
	  			<tbody>
				  	<tr>
					    <td>{{ character['character_name'] }}</td>
					    <td>{{ character['character_description'] }}</td>
					    <td>{{ character['character_str'] }}</td>
					    <td>{{ character['character_dex'] }}</td>
					    <td>{{ character['character_con'] }}</td>
					    <td>{{ character['character_int'] }}</td>
					    <td>{{ character['character_wis'] }}</td>
					    <td>{{ character['character_cha'] }}</td>
				  </tr>
				</tbody>
			</table>

		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h1>Current Activities</h1>
		</div>
	</div>
		<div class="row">
		<div class="col-12">
			<h1>Ongoing Activities</h1>
		</div>
	</div>
	<a href="{{ url_for('character.index') }}">Back</a>
	<a href="#>View Campaign</a>
	<form action="{{ url_for('character.view', characterID = character['character_id']) }}" method="post">
		<input type="submit" value="Update" name="Update">
		<input type="submit" value="Delete" name="Delete">
	</form>
</div>
{% endblock %}


