.bg-dark {
	background-color: rgb(56, 59, 67);
}

.clickable-row:hover{
  cursor: pointer !important;
  background-color: #ccc !important;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}